{% extends "base.html" %}
{% block content %}

   <!-- Page Content -->
            <div class="container">
                <div class="cover-image" style="background-image:url('static/sushi.jpg')"></div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="text-muted">日食厦门</h1>
                        <p style="color:midnightblue">日本料理 | 在厦门</p>
                        <br>
                        <br>

                       </div>
                     </div>
                    </div>
                  </div>
</header>
                    <div class="row">
                     <div class="col-md-12">
                         <div class="embed-responsive embed-responsive-16by9">
                         <iframe class="airtable-embed" src="https://airtable.com/embed/shruIR6nZQBJBqHkf?backgroundColor=teal&viewControls=on"
                         frameborder="0" onmousewheel="" width="90%" height="533" style="background: transparent; border: 2px solid #ccc;"></iframe>
                       </div>
                     </div>
                   </div><!--end row-->
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>

{% endblock %}